<div class="frontPage">
  <h1>Welcome to Games-Link</h1>
  <h2>Please login to continue</h2>
  <button type="button" name="login">Login</button>
  <button type="button" name="register">Register</button>
</div>
