body {
  background-color: Black;
  color: White;
}

.frontPage {
  position: relative;
  border: 3px solid white;
  margin: auto;
  text-align: center;
  height: 300px;
  width: 400px;
}

.frontForm {
  display: inline-block;
  width: 190px;
}

.front {
  font-size: 30px;
  padding: 10px 24px;
  border-radius: 8px;
  background-color: Black;
  color: White;
  border: 1px solid White;
}

.logout {
  float: right;
}
